@import '~@uxland/style-utilities/animations.scss';
@import '~@uxland/style-utilities/flex-layout-styles.scss';
@import '~@uxland/style-utilities/material-colors.scss';
@import '~@uxland/style-utilities/mediaqueries-styles.scss';
@import '~@uxland/style-utilities/units-styles.scss';

/** Colors **/
$primary-color: #0b0b0b;
$secondary-color: #848484;
$accent-color: #f4c700;
$base-color: white;
$contrast-color: #0b0b0b;
