:host {
  @include layout-flex;
  @include layout;
  min-width: 1px;
  width: 100%;
}

.calculator-container {
  @include layout-vertical;
  width: 100%;

  .calculator-actions {
    @include layout-horizontal;
    @include layout-center-center;
    padding: $uxl-units-size-20;

    vaadin-upload {
      margin: $uxl-units-size-8;
    }
    vaadin-button {
      margin: $uxl-units-size-8;
    }
  }

  .marks-lists {
    @include layout-vertical;
    margin: $uxl-units-size-20;
  }
}
